<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kai.videoplatform.mapper.VideoMapper">
    <update id="incrementPlayCount">
        UPDATE video SET play_count = play_count + #{count} WHERE id = #{videoId}
    </update>
</mapper>
